* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    
}

a {
    transition: 0.3s;
    color: inherit;
    text-decoration: none;
}

.d-flex, .row {
    display: flex;
}

/* oddelenie pre elemnty vo flexe, medzera */
.row > * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/*negacia okrajov aby mi iba medzery medzi nimi robilo*/ 
.row{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    padding-left: 10rem;
    
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
}


.container-fluid {
    width: 800px;
}
 
.col {
    flex: 1;
}

.col-auto {
    flex: auto;
}

.col-1 {
    width: calc(1 / 12 * 100%);
}

.col-2 {
    width: calc(1 / 6 * 100%);
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: calc(1 / 3 * 100%);
}

.col-5 {
    width: calc(5 / 12 * 100%);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(7 / 12 * 100%);
}

.col-8 {
    width: calc(2 / 3 * 100%);
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: calc(5 / 6 * 100%);
}

.col-11 {
    width: calc(11 / 12 * 100%);
}

.col-12 {
    width: 100%;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}




.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fade {
    position: relative;
}

.fade>* {
    position: relative;
    z-index: 2;
}

.fade::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.panel-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    /* xx------yy------zz */
    /* xx--------------yy */
    justify-content: space-between;
}

.justify-content-around {
    /* --xx----yy----zz-- */
    justify-content: space-around;
}

.justify-content-start {
    /* xxyy-------------- */
    justify-content: flex-start;
}

.justify-content-end {
    /* --------------xxyy */
    justify-content: flex-end;
}

.justify-content-center {
    /* -------xxyy------- */
    justify-content: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 3rem;
}

.p-6 {
    padding: 6rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.px-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.pt-1 {
    padding-top: 0.5rem;
}

.pt-2 {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 1.5rem;
}

.pt-4 {
    padding-top: 2rem;
}

.pt-5 {
    padding-top: 3rem;
}

.pt-6 {
    padding-top: 4rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem;
}

.pb-4 {
    padding-bottom: 2rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.pl-1,
.ps-1 {
    padding-left: 0.5rem;
}

.pl-2,
.ps-2 {
    padding-left: 1rem;
}

.pl-3,
.ps-3 {
    padding-left: 1.5rem;
}

.pl-4,
.ps-4 {
    padding-left: 2rem;
}

.pl-5,
.ps-5 {
    padding-left: 3rem;
}

.pl-6,
.ps-6 {
    padding-left: 6rem;
}

.pr-1,
.pe-1 {
    padding-right: 0.5rem;
}

.pr-2,
.pe-2 {
    padding-right: 1rem;
}

.pr-3,
.pe-3 {
    padding-right: 1.5rem;
}

.pr-4,
.pe-4 {
    padding-right: 2rem;
}

.pr-5,
.pe-5 {
    padding-right: 3rem;
}

.pr-6,
.pe-6 {
    padding-right: 6rem;
}

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.m-4 {
    margin: 2rem;
}

.m-5 {
    margin: 3rem;
}

.m-6 {
    margin: 6rem;
}

.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mx-1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-4 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-5 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-6 {
    margin-top: 4rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.tb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mb-6 {
    margin-bottom: 4rem;
}

.ml-1,
.ms-1 {
    margin-left: 0.5rem;
}

.ml-2,
.ms-2 {
    margin-left: 1rem;
}

.ml-3,
.ms-3 {
    margin-left: 1.5rem;
}

.ml-4,
.ms-4 {
    margin-left: 2rem;
}

.ml-5,
.ms-5 {
    margin-left: 3rem;
}

.ml-6,
.ms-6 {
    margin-left: 6rem;
}

.mr-1,
.me-1 {
    margin-right: 0.5rem;
}

.mr-2,
.me-2 {
    margin-right: 1rem;
}

.mr-3,
.me-3 {
    margin-right: 1.5rem;
}

.mr-4,
.me-4 {
    margin-right: 2rem;
}

.mr-5,
.me-5 {
    margin-right: 3rem;
}

.mr-6,
.me-6 {
    margin-right: 6rem;
}


.vertical-center {
    align-content: center;
}

.mb-1 {
    margin: 0.5rem;
}

.mb-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.mb-4 {
    margin: 2rem;
}

.mb-5 {
    margin: 3rem;
}

.mb-6 {
    margin: 6rem;
}

@media (max-width: 425px) {
    .container1 {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    }

    .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-7{
       width: 75%;

}

.col-5 {
    width: calc(7 / 12 * 100%);

}

.col-8, .col-4, .col-6 {
    width: 100%;

}

.row > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.row{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

}